{% comment %}
  Renders product variant options (Estructura nativa limpia de Dawn)
{% endcomment %}

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- if block.settings.picker_type == 'button' and value.swatch != null -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    <label
      for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      class="product-form__swatch"
    >
 {% render 'swatch', swatch: value.swatch, shape: block.settings.swatch_shape, product: product, value: value %}
      <span class="visually-hidden">{{ value }}</span>
    </label>
  {%- else -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ value -}}
    </label>
  {%- endif -%}
{%- endfor -%}